body {
    background-color: #eee;
}
.container {
    max-width: 1200px;
}
.card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}
.card-header {
    background-color: #007bff;
    color: #fff;
    font-size: 1.25rem;
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #e9ecef; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #007bff; /* Scrollbar color */
    border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3; /* Darker color on hover */
}

